<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" routerLink="/list">Grocery List</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/list">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/departments">Departments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="openConfirmClearModal(confirmClearModal)">Clear</a>
    </li>
  </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<template #confirmClearModal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to clear the list and remove all items from all departments?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
  </div>
</template>