<div class="list-controls pl-1 pr-1 pb-1">
  <div class="btn-group btn-block mt-1 pt-3" role="group">
    <button type="button" class="btn btn-secondary btn-lg col-xs-2" (click)="prevDept()">&lt;</button>
    <div ngbDropdown class="btn-group col-xs-8 no-lr-pad" role="group">
      <button class="btn btn-secondary dropdown-toggle btn-lg w-100" id="dropdownMenu1" ngbDropdownToggle>{{department?.name}}</button>
      <div class="dropdown-menu drop-down-menu-center" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" *ngFor="let department of departments" (click)="selectDept(department)">{{department.name}}</button>
      </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg col-xs-2" (click)="nextDept()">&gt;</button>
  </div>
  <div class="mt-1 w-100">
    <div class="btn-toolbar btn-toolbar-center" role="toolbar">
      <div class="btn-group btn-group-sm ml-1 mr-1" role="group">
        <button type="button" class="btn btn-secondary" (click)="openConfirmClearAllModal(confirmClearAllModal)">Clear All</button>
        <button type="button" class="btn btn-secondary" (click)="openConfirmClearModal(confirmClearModal)">Clear Dept.</button>
      </div>
      <div class="btn-group btn-group-sm ml-1 mr-1" role="group">
        <button type="button" class="btn btn-secondary" (click)="openConfirmCompleteAllModal(confirmCompleteAllModal)">All Done</button>
        <button type="button" class="btn btn-secondary" (click)="openConfirmCompleteModal(confirmCompleteModal)">Dept. Done</button>
      </div>
    </div>
  </div>
  <div class="mt-1 w-100">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Item name..." [(ngModel)]="itemName" (keyup.enter)="itemName && addItem()">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addItem()" [disabled]="!itemName">Add</button>
      </span>
    </div>
  </div>
</div>
<div class="list-group mt-1 grocery-list pb-1" *ngIf="department">
  <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of items" (click)="toggleComplete(item)"
    [class.disabled]="item.completed">{{item.name}}</button>
</div>
<template #confirmClearAllModal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove all items from all departments?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
  </div>
</template>
<template #confirmClearModal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove all items from the {{department.name}} department?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
  </div>
</template>
<template #confirmCompleteAllModal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to mark all items in all departments complete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
  </div>
</template>
<template #confirmCompleteModal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to mark all items in the {{department.name}} department complete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('no')">No</button>
  </div>
</template>