<div class="list-controls pl-1 pr-1 pb-1">
  <div class="btn-group btn-block mt-1 pt-3" role="group">
    <button type="button" class="btn btn-secondary btn-lg col-xs-2" (click)="prevDept()">&lt;</button>
    <div class="btn-group col-xs-8 no-lr-pad" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-lg w-100" data-toggle="dropdown">{{department.name}}</button>
      <div class="dropdown-menu drop-down-menu-center">
        <a class="dropdown-item" *ngFor="let department of departments" (click)="selectDept(department)">{{department.name}}</a>
      </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg col-xs-2" (click)="nextDept()">&gt;</button>
  </div>
  <div class="mt-1 w-100">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Item name..." [(ngModel)]="itemName">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addItem()">Add</button>
      </span>
    </div>
  </div>
</div>
<div class="list-group mt-1 grocery-list pb-1" *ngIf="department">
  <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of list.get(department)" (click)="toggleComplete(department, item)"
    [class.deleted]="item.deleted">{{item.name}}</button>
</div>